<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <!-- using this python function will ensure that the right file location is always
         provided regardless of any changes to the configuration of the project -->
{#    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">#}
</head>
<body>
    <h1>Flask Example Project!</h1>
    <p>This is a Flask Project that implements the most important features of Flask
        in an easily referencable manner.</p>
    <p>The following features are implemented through the following web pages:</p>
    <ul>
        <!-- when linking between pages on the website, the python @app.route() location
             must be used, not the name of the actual files -->
        <li><a href="templating">Templating and Rendering</a></li>
        <li><a href="routing">Dynamic Routing</a></li>
        <li><a href="http-requests">HTTP Requests</a></li>
        <li><a href="not-a-url">Error Pages</a></li>

    </ul>
</body>
</html>